h1 {
	color : #C40000;
	font-family: Calibri;
	
}

.barrenav{
	color : black;
	font-family: 'Josefin Sans';
	font-variant: small-caps;
}

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
    color: white;
    background-color: black;
}

.nav-pills li.active a:focus, .nav-pills li.active a:hover {
    color: red;
    background-color: black;
}

.nav li a:focus, .nav li a:hover {
	color : red;
    text-decoration: none;
    background-color: white;
    }

.nav li a {
	color : black;
    text-decoration: none;
    background-color: white;
    }
    
a:focus, a:hover {
    color: black;
}
    

h2 {
	color : #00BBE0;
	font-family: 'Josefin Sans';
	font-variant: small-caps;

}

h3 {
	color : #4785FF;
	font-family: 'Josefin Sans';	
	
}

.sous-titres {
	font-weight : bold;
}

.notions {
	font-style : italic;
}

.attention {
	font-style : italic;
	color : #B61BA9;
}

body {
font-family: Arial;
}

code {
	display : block;
}
